version: '2.3'
services:
  elvis_api:
    hostname: api.tenders.exposed
    environment:
      - BASE_URL=https://api.tenders.exposed
    ports:
      - "10011:10010"
  orientdb:
    ports:
      - 2425:2424
      - 2481:2480
    volumes:
      - odb_data:/orientdb/databases
      - odb_backup:/orientdb/backup
volumes:
  odb_data:
  odb_backup:

